name: Master Build

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-18.04

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 8
        uses: actions/setup-java@v2
        with:
          java-version: '8'
          distribution: 'adopt'

      - name: Make gradlew executable
        run: chmod +x ./gradlew

      - name: Build with Gradle
        run: ./gradlew cleanCache clean build_them_all --refresh-dependencies

      - name: Show debug info
        run: ./gradlew --version

      - name: Create sha_shot variable
        id: vars
        run: echo "::set-output name=sha_short::$(git rev-parse --short HEAD)"

      - name: Delete latest Dev Release
        uses: dev-drprasad/delete-tag-and-release@v0.2.0
        with:
          delete_release: true
          tag_name: latest.dev # tag name to delete
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Create latest Dev Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: latest
          prerelease: true
          name: Latest Dev Build - ${{ steps.vars.outputs.sha_short }}
          files: |
            dist/*.jar